<%= form_with(model: @appointment) do |f| %>

<div class="card">
  <div class="card-body">
    
    <p>
      <strong>Inicio:</strong>
      <%= I18n.l(@appointment.start_at, format: "%d/%m de %Y às %H:%M") %>
    </p>

    <p>
      <strong>Fim:</strong>
      <%= I18n.l(@appointment.end_at, format: "%d/%m de %Y às %H:%M") %>
    </p>    

    <p>
      <strong>Nome do profissional:</strong>
      <%= @appointment.professional.name %>
    </p>

    <p>
      <strong>Especialidade:</strong>
      <%= @appointment.expertise.name %>
    </p> 

    <div class="mb-3">
      <%= f.label :cpf, { class: "form-label"} %>
      <%= f.text_field :document_number, { class: "form-control", placeholder: "CPF" } %>
    </div>

    <div class="mb-3">
      <%= f.label :nome, { class: "form-label"} %>
      <%= f.text_field :client_name, { class: "form-control", placeholder: "Nome" } %>
    </div>

    <hr class="col-xs-12">

    <%= f.submit "Finalizar agendamento", class: "btn btn-primary" %>

  </div>
</div>

  <% if @appointment.errors.any? %>
    <div class="card" id="error_explanation">
      <div class="card-body">
        <h2><%= pluralize(@appointment.errors.count, "erro") %> </h2>
        <ul>
        <% @appointment.errors.messages.each do |message| %>
          <li><%= message[1][0] %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>