<div style="margin: 25px">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Tudo certo!</h4>
    <p>Agendamento concluido com sucesso. Seus dados foram registrados no nosso sistema.</p>
    <hr>
    <p class="mb-0">Entre em contato cosnosco caso tenha qualquer dúvida.</p>
  </div>


  <p>
    <strong>Inicio:</strong>
    <%= I18n.l(@appointment.start_at, format: "%d/%m de %Y às %H:%M") %>
  </p>

  <p>
    <strong>Fim:</strong>
    <%= I18n.l(@appointment.end_at, format: "%d/%m de %Y às %H:%M") %>
  </p>

  <p>
    <strong>CPF do paciente:</strong>
    <%= @appointment.document_number %>
  </p>

  <p>
    <strong>Nome do paciente:</strong>
    <%= @appointment.client_name %>
  </p>

  <p>
    <strong>Nome do profissional:</strong>
    <%= @appointment.professional.name %>
  </p>

  <p>
    <strong>Especialidade:</strong>
    <%= @appointment.expertise.name %>
  </p>

  <%= link_to 'Voltar', appointments_path %>
</div>




