<div style="margin: 25px">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
    <hr>
    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
  </div>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Start at:</strong>
    <%= @appointment.start_at %>
  </p>

  <p>
    <strong>End at:</strong>
    <%= @appointment.end_at %>
  </p>

  <p>
    <strong>Document number:</strong>
    <%= @appointment.document_number %>
  </p>

  <p>
    <strong>Client name:</strong>
    <%= @appointment.client_name %>
  </p>

  <%= link_to 'Edit', edit_appointment_path(@appointment) %> |
  <%= link_to 'Back', appointments_path %>
</div>




